<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>imshared</title>
    {{! Font Awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    {{! Bootstrap 4 }}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {{! Custom CSS }}
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/public/img/imshared.png" alt="logo" />
        </a>
      </div>
    </nav>

    <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          {{{body}}}
        </div>

        <div class="col-md-4">
          {{> stats}}
          {{> popular}}
          {{> comments}}
        </div>
      </div>

    </div>

    {{! Scripts }}
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    {{! Custom Code }}
    <script src="/public/js/scripts.js"></script>
  </body>
</html>